#css-test-element {
    width: 10px;
}

#myButton {
    border-radius: 0 !important;
    width: auto !important;
    height: auto !important;
    padding: 1px 10px !important;
    font-size: 14px !important;
    transition: 150ms !important;

}

#myButton:hover {
    border-radius: 0 !important;
    width: auto !important;
    height: auto !important;
    padding: 5px 15px !important;
    font-size: 19px !important;
    transition: 150ms !important;
}
#myButton:active {
    border-radius: 0 !important;
    width: auto !important;
    height: auto !important;
    padding: 3px 12px !important;
    font-size: 14px !important;
    transition: 50ms !important;
}